.wrapper_hero_image
{
    margin-block-end: 30px;
}

.wrapper_layout
{
    margin-inline: 20px;
    margin-block-end: 30px;
}

.wrapper_listings
{
    padding-inline: 24px 8px;

    & li
    {
        padding-inline: 16px;
        margin-block-end: 10px;
    }
}

@media (width >=50em)
/* 800px */
{
    main
    {
        background-color: var(--clr-stone-100);
        padding-block: 100px;
    }

    .wrapper_layout
    {
        margin-inline: 40px;
    }

    .wrapper
    {
        max-width: 31.25em;
        margin-inline: auto;
        background-color: var(--clr-white);
        border-radius: 20px;
    }

    .wrapper_hero_image
    {
        padding: 30px;
        margin: 0px;

        & img
        {
            border-radius: 30px;

        }
    }

}