.wrapper_prep_time
{
    background-color: var(--clr-rose-50);
    padding: 20px 30px;
    border-radius: 20px;

    & p
    {
        margin-block-end: 20px;
        color: var(--clr-rose-800);
        font-weight: 800;
    }

    & .wrapper_listings li::marker
    {
        color: var(--clr-rose-800);
    }
}